# Portfolio Project: Online Retail Exploratory Data Analysis with Python

## Overview

In this project, you will step into the shoes of an entry-level data analyst at an online retail company, helping interpret real-world data to help make a key business decision.

## Case Study
In this project, you will be working with transactional data from an online retail store. The dataset contains information about customer purchases, including product details, quantities, prices, and timestamps. Your task is to explore and analyze this dataset to gain insights into the store's sales trends, customer behavior, and popular products. 

By conducting exploratory data analysis, you will identify patterns, outliers, and correlations in the data, allowing you to make data-driven decisions and recommendations to optimize the store's operations and improve customer satisfaction. Through visualizations and statistical analysis, you will uncover key trends, such as the busiest sales months, best-selling products, and the store's most valuable customers. Ultimately, this project aims to provide actionable insights that can drive strategic business decisions and enhance the store's overall performance in the competitive online retail market.

## Project Objectives
1. Describe data to answer key questions to uncover insights
2. Gain valuable insights that will help improve online retail performance
3. Provide analytic insights and data-driven recommendations

## Dataset

The dataset you will be working with is the "Online Retail" dataset. It contains transactional data of an online retail store from 2010 to 2011. The dataset is available as a .xlsx file named `Online Retail.xlsx`. This data file is already included in the Coursera Jupyter Notebook environment, however if you are working off-platform it can also be downloaded [here](https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx).

The dataset contains the following columns:

- InvoiceNo: Invoice number of the transaction
- StockCode: Unique code of the product
- Description: Description of the product
- Quantity: Quantity of the product in the transaction
- InvoiceDate: Date and time of the transaction
- UnitPrice: Unit price of the product
- CustomerID: Unique identifier of the customer
- Country: Country where the transaction occurred

## Tasks

You may explore this dataset in any way you would like - however if you'd like some help getting started, here are a few ideas:

1. Load the dataset into a Pandas DataFrame and display the first few rows to get an overview of the data.
2. Perform data cleaning by handling missing values, if any, and removing any redundant or unnecessary columns.
3. Explore the basic statistics of the dataset, including measures of central tendency and dispersion.
4. Perform data visualization to gain insights into the dataset. Generate appropriate plots, such as histograms, scatter plots, or bar plots, to visualize different aspects of the data.
5. Analyze the sales trends over time. Identify the busiest months and days of the week in terms of sales.
6. Explore the top-selling products and countries based on the quantity sold.
7. Identify any outliers or anomalies in the dataset and discuss their potential impact on the analysis.
8. Draw conclusions and summarize your findings from the exploratory data analysis.

## Task 0: Load Important Python Modules

In [1]:
# your code here
import unidecode

# Standard operational package imports.
import pandas as pd
import numpy as np

# Visualization package imports.
import matplotlib
import seaborn as sns

# Others
import calendar as cal
import re
import random

# Important imports for preprocessing, modeling, and evaluation.
from statsmodels.stats.outliers_influence \
    import variance_inflation_factor as smvif
import statsmodels.formula.api as smfapi
import statsmodels.api as smapi
import statsmodels.tools.tools as smtools
import statsmodels.stats.multicomp as smmulti
import sklearn.model_selection as sklmodslct
import sklearn.linear_model as skllinmod
import sklearn.metrics as sklmtrcs

In [2]:
# importing all my important data analysis functions
import data_analysis_functions

## Task 1: Load the Data

In [3]:
# load the online-retail dataset xlsx
data = pd.read_excel("online-retail_dataset.xlsx")
data_analysis_functions.df_head(data,10)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom

## Task 2: Data Cleaning 

Perform data cleaning by handling missing values, if any, and removing any redundant or unnecessary columns.

Also, to makesure datetime columns are actually in datetime and numeric columns are actually numeric and not strings.

In [4]:
# get all data types of the columns
print("number rows and columns before dropna(axis=0)")
data_analysis_functions.df_print_row_and_columns(data)
old_row_numbers = data.shape[0]
print("")

print("data types:")
data_analysis_functions.df_info_dtypes(data)
print("")
#data_analysis_functions.df_info_dtypes(data)

# get summary statistics
print("summary statistics:")
print(data.describe())
print("")

# removing empty rows
data = data.dropna(axis=0).reset_index(drop=True)
print("number rows and columns after dropna(axis=0)")
data_analysis_functions.df_print_row_and_columns(data)
new_row_numbers = data.shape[0]

# % missing data
percentage_nadata = format(1-(new_row_numbers/old_row_numbers),"0.2%")
print("{} missing (null) data".format(percentage_nadata))

# need to further mask using InvoiceNo
returns = data[(data['Quantity'] < 0.0)]
returns_customer_id = returns['CustomerID'].values.tolist()
returns_unit_price = returns['StockCode'].values.tolist()
mask_list = []
data_returns_calculated = pd.DataFrame()
for i in range(len(returns_customer_id)):
    cust_id = returns_customer_id[i]
    unit_p = returns_unit_price[i]
    mask = (data['CustomerID'] == cust_id) & (data['StockCode'] == unit_p)
    masked = data[mask]
    mask_list += masked.index.tolist()
    sum_quantity = masked['Quantity'].sum()
    average_unit_p = masked['UnitPrice'].mean()
    invoice_code = masked.iloc[0:1,0:1]
    invoice_date = masked.iloc[0:1,4:5]
    country = masked.iloc[0:1,7:8]
    description = masked.iloc[0:1,2:3]
    new_df_dict = {"InvoiceNo": [invoice_code], "StockCode": [unit_p], "Description": [description], "Quantity": [sum_quantity],
              "InvoiceDate": [invoice_date], "UnitPrice": [average_unit_p], "CustomerID": [cust_id], "Country": [country]}
    new_df = pd.DataFrame(new_df_dict)
    data_returns_calculated = pd.concat([data_returns_calculated, new_df], ignore_index=True)
mask_list = list(set(mask_list))   
data_returns_filter = data.index.isin(mask_list)
data_purchases_constructor = data[~data_returns_filter]
data_purchases = pd.concat([data_purchases_constructor, data_returns_calculated], ignore_index=True)
data_purchases = data_purchases[data_purchases['Quantity'] >= 0]
print(data_purchases)

# discount only
discounts = data[data['Description'] == 'Discount']

number rows and columns before dropna(axis=0)
rows = 541909
columns = 8

data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

summary statistics:
            Quantity                    InvoiceDate      UnitPrice  \
count  541909.000000                         541909  541909.000000
mean        9.552250  2011-07-04 13:34:57.156386048       4.611114
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.080000
75%        10.000000            2011-10-19 11:27:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       218.081158                            NaN      96.759853

          CustomerID
count  406829.000000
mean    15287.690570
min     12346.000000
25%     13953.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.600303

number rows and columns after dropna(axis=0)
rows = 406829
columns = 8
24.93% missing (null) data
                                InvoiceNo StockCode  \
0                                  536365    85123A
1                                  536365     71053
2                                  536365    84406B
3                                  536365    84029G
4                                  536365    84029E
...                                   ...       ...
388830         InvoiceNo
128471    552575     22178
388831         InvoiceNo
128472    552575     23144
388833           InvoiceNo
6907    537195     21258
388834          InvoiceNo
23988    539404     84978
388835         InvoiceNo
325205    573911     20979

                                              Description  Quantity  \
0                      WHITE HANGING HEART T-LIGHT HOLDER         6
1                                     WHITE METAL LANTERN         6
2                          CREAM CUPID HEARTS COAT HANGER         8
3                     KNITTED UNION FLAG HOT WATER BOTTLE         6
4                          RED WOOLLY HOTTIE WHITE HEART.         6
...                                                   ...       ...
388830                              Description
128471...       573
388831                              Description
128472...       349
388833                       Description
6907  VICTORI...        46
388834                              Description
23988 ...       167
388835                            Description
325205  ...         1

                                              InvoiceDate  UnitPrice  \
0                                     2010-12-01 08:26:00   2.550000
1                                     2010-12-01 08:26:00   3.390000
2                                     2010-12-01 08:26:00   2.750000
3                                     2010-12-01 08:26:00   3.390000
4                                     2010-12-01 08:26:00   3.390000
...                                                   ...        ...
388830                 InvoiceDate
128471 2011-05-10 1...   1.677778
388831                 InvoiceDate
128472 2011-05-10 1...   0.821538
388833               InvoiceDate
6907 2010-12-05 13:55:00  11.113636
388834                InvoiceDate
23988 2010-12-17 12:...   1.168571
388835                 InvoiceDate
325205 2011-11-01 1...   1.250000

        CustomerID                                        Country
0          17850.0                                 United Kingdom
1          17850.0                                 United Kingdom
2          17850.0                                 United Kingdom
3          17850.0                                 United Kingdom
4          17850.0                                 United Kingdom
...            ...                                            ...
388830     14397.0                 Country
128471  United Kingdom
388831     14397.0                 Country
128472  United Kingdom
388833     15311.0                   Country
6907  United Kingdom
388834     17315.0                  Country
23988  United Kingdom
388835     17315.0                 Country
325205  United Kingdom

[387758 rows x 8 columns]

COMMENT:
All columns are of the expected data type. However there is negative quantity

In [5]:
# get all data only positive quantity and unitprice columns
print("number rows and columns after dropping negatives")
neg_row_numbers = old_row_numbers - data_purchases.shape[0]
percentage_negdata = format((neg_row_numbers/old_row_numbers),"0.2%")
print("{} irrelevant (negative) data".format(percentage_negdata))
print(data_purchases.describe())

number rows and columns after dropping negatives
28.45% irrelevant (negative) data
            Quantity      UnitPrice     CustomerID
count  387758.000000  387758.000000  387758.000000
mean       13.201938       3.035461   15294.693752
std        62.216133      18.052927    1712.365073
min         0.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         5.000000       1.850000   15159.000000
75%        12.000000       3.750000   16795.000000
max     12540.000000    8142.750000   18287.000000

## Task 3: Exploratory Data Analysis

View the descriptive statistics such as mean, mode and median as well as standard deviation, range etc.

In [ ]:
# get all exploratory stats about CENTRAL TENDENCY
data_mode = data_purchases[['Quantity','UnitPrice','Country']].agg([pd.Series.mode])
print(data_mode)
data_mean = data_purchases[['Quantity','UnitPrice']].agg([pd.Series.mean])
print(data_mean)
data_median = data_purchases[['Quantity','UnitPrice']].agg([pd.Series.median])
print(data_median)

In [ ]:
# get all exploratory stats about SPREAD
data_std = data_purchases[['Quantity','UnitPrice']].agg([pd.Series.std])
print(data_std)
data_skew = data_purchases[['Quantity','UnitPrice']].agg([pd.Series.skew])
print(data_skew)
print("")
# data_iqr = data[['Quantity','UnitPrice']].agg([pd.Series.quantile(q=0.25)])\
#           - data[['Quantity','UnitPrice']].agg([pd.Series.quantile(q=0.75)]) 
# print(data_iqr)

Quite high skew in unit price which can be seen by th

## Task 4: Data Visualisation 

To gain insights and to visualise outliers

In [ ]:
# use histogram
fig = matplotlib.pyplot.subplots(figsize=(8, 6), dpi=85)
sns.histplot(data=data_purchases, x="Quantity")
matplotlib.pyplot.xscale('log')
matplotlib.pyplot.show()

In [ ]:
# use boxplot to visualize extreme outliers
fig2 = matplotlib.pyplot.subplots(figsize=(8, 6), dpi=85)
data_purchases.boxplot(column=['Quantity'], return_type='axes')
matplotlib.pyplot.show()

In [ ]:
# use matrix scatter plot to visualise data relationships
data_analysis_functions.df_pairplot(data_purchases)

## Task 5: Analyse Trends over Time and also Analyse Busiest Months

We will make another column called "Total Price", then divide the data into years by making a new "Year" column, and then strftime by month (New "Month" column) to visualise what the trends were like over the months
1. Average Sale Quantity per month
2. Average Price per Purchase
3. Price per Invoice
4. Total Sales per month
5. Total Sales of particular product per month

In [ ]:
# creating total price column
data_purchases.loc[:,"TotalRevenue"] = data_purchases["Quantity"].multiply(data_purchases["UnitPrice"])
print(data_analysis_functions.df_head(data_purchases, 10))

In [ ]:
# strfint year and month
data_purchases.loc[:,"YearMonth"] = data_purchases.loc[:,"InvoiceDate"].dt.strftime("%Y-M%m")
print(data_analysis_functions.df_head(data_purchases, 10))

In [ ]:
# monthly_revenue = data_analysis_functions.df_groupby_mask_operate(data_purchases, "YearMonth", "TotalRevenue", False, '0', 'mean')
data_analysis_functions.df_grouped_barplotter(data_purchases, "YearMonth", "TotalRevenue", 1, 'mean')

In [ ]:
data_analysis_functions.df_grouped_barplotter(data_purchases, "YearMonth", "TotalRevenue", 1, 'sum')

In [ ]:
# mean quantity purchased per purchase in countries
data_analysis_functions.df_grouped_barplotter(data_purchases, "Country", "Quantity", 2, 'mean')

In [ ]:
# total quantity purchased per countries
data_analysis_functions.df_grouped_barplotter(data_purchases, "Country", "TotalRevenue", 2, 'sum')

The UK had the most purchases by far, and also was the largest source of revenue even the the average sale price was lower.

## TASK 6: Explore the top-selling products and countries based on the quantity sold.

Here we shall simply groupby and aggreagate and show the products in terms of total revenue

In [ ]:
# total quantity purchased per product
quantity_per_product = data_analysis_functions.df_groupby_mask_operate(data_purchases, "Description", "Quantity", False, "0", "sum")
col = quantity_per_product.columns.tolist()
quantity_per_product.sort_values(by=col, inplace=True, ascending=0)
print("Ten higher selling products are:")
print(data_analysis_functions.df_head(quantity_per_product, 10))

In [ ]:
# total revenue purchased per product
revenue_per_product = data_analysis_functions.df_groupby_mask_operate(data_purchases, "Description", "TotalRevenue", False, "0", "sum")
col = revenue_per_product.columns.tolist()
revenue_per_product.sort_values(by=col, inplace=True, ascending=0)
print("Ten higher grossing products are:")
print(data_analysis_functions.df_head(revenue_per_product, 10))

## Task 7: Identify any outliers or anomalies in the dataset and discuss their potential impact on the analysis.

In [ ]:
# identification of outliers
# method 1, percentile, we we set the outliers at the 90th percentile.
percentile_ninenty = np.percentile(data_purchases['Quantity'], 90)
data_outliers = data_purchases[data_purchases['Quantity'] > percentile_ninenty]
print(data_outliers['Quantity'])
data_purchases.loc[:,'Quantity'] = data_purchases.loc[:,'Quantity'].apply(lambda x: (percentile_ninenty if x > percentile_ninenty else x))
print(data_purchases['Quantity'])

# use boxplot to visualize extreme outliers
#fig3 = matplotlib.pyplot.subplots(figsize=(8, 6), dpi=85)
#data_purchases.boxplot(column=['Quantity'], return_type='axes')
#matplotlib.pyplot.show()

Now we see the outliers are removed,

## Task 8: Draw conclusions and summarize your findings from the exploratory data analysis.

1. We clearly see that the United Kingdom has the highest sales volume 

2. We can also see that there are outliers in quantities, but these are mitigated for and removed, the negative quantities and negative unit prices, we see that some of these are discounts and some of them were returns of a product. 

3. We also see that there is little correlation amongst any of the data fields here. 

4. We also see that the month with the highest sales volume was November 2011.